# Archivos compilados
*.class

# Archivos de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Reportes de pruebas
*.log
test-output/
jacoco.exec
surefire-reports/

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Sistema operativo
.DS_Store
Thumbs.db

