<html>
<head>
	<title></title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="mce-item-table" data-mce-style="margin: 0 auto;" style="margin: 0 auto;" width="600">
	<tbody>
		<tr data-mce-style="height: 69px;" style="height: 69px;">
			<td>&nbsp;</td>
			<td data-mce-style="height: 43px;" style="height: 43px;"><img caption="false" data-mce-src="http://images.masterbase.com/v1/interseguro/b/cabecera-logo-azul-1.png" data-mce-style="display: block; border: 0;" height="43" src="http://images.masterbase.com/v1/interseguro/b/cabecera-logo-azul-1.png" style="display: block; border: 0;" width="700" /></td>
		</tr>
		<tr>
			<td height="20">&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 86px;" style="height: 86px;">
			<td data-mce-style="text-align: center; height: 86px;" style="text-align: center; height: 86px;">&nbsp;</td>
			<td data-mce-style="text-align: center; height: 86px;" style="text-align: center; height: 86px;"><br />
			<span color="#0f44b9" data-mce-style="color: #0856c5; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #0f44b9; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 40px;" style="font-size: 40px;"><b>Alerta de afiliaci&oacute;n</b></span></span>
			</td>
		</tr>

		<tr data-mce-style="height: 1px;" style="height: 1px;">
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">&nbsp;</td>
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;"><br />
			<span color="#4d4d4d" data-mce-style="color: #4a5f6f; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #4a5f6f; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 22px;" style="font-size: 26px;">Adjunto caso complejo para suscripci&oacute;n</span> </span></td>
		</tr>
		<tr>
			<td height="10">&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 1px;" style="height: 1px; background:#eef5ff">
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">&nbsp;</td>
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">
			<span color="#454a6c" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #454A6C; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 24px;"><br>Estos son los datos de tu solicitud:<br></span></span></td>
		</tr>
		
		<tr data-mce-style="height: 1px;" style="height: 1px; background:#eef5ff">
          <td colspan="2" style="border-bottom:0px solid #4d4d4d;height:40px;text-align:left;">
            <table class="egt" border="0" cellpadding="0" cellspacing="0" width="100%">
               <tr>
                    <td>&nbsp;</td>
                </tr>
               <tr>
               	<td style="width:60px;">
                	</td>
               	<td style="width:250px; text-align:justify;">
                  	<span color="#0856C5" data-mce-style="color: #0856C5; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #00AAFF; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 20px; text-align: left; color: #00AAFF;"><br/>N&deg; de propuesta<br/></span></span><br>
                	</td>
                	<td style="width:40px;">
                	</td>
                    <td style="width: 250px; height:50px; background:#DAEFFC; border-radius: 20px; text-align: center;">
                        <span style="font-size: 19px; color: #454a6c; font-family: Arial, Helvetica, sans-serif; text-align: center;">{numeroPropuesta}</span>
                    </td>
                    <td style="width:40px;">
                	</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                	<td style="width:20px;">
                	</td>
                   	<td style="width:250px; text-align: justify;">
                  	     <span color="#00AAFF" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #00AAFF; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 20px; text-align: left;"><br/>Cliente<br/></span></span><br>
                	</td>
                	<td style="width:50px;">
                	</td>
                	<td style="width:250px; height: 50px; background:#DAEFFC; border-radius: 20px; text-align: center;">
                        <span style="font-size: 20px; color: #454a6c; font-family: Arial, Helvetica, sans-serif; text-align: left;">{cliente}</span>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                	<td style="width:20px;">
                	</td>
                	<td style="width:250px; text-align: justify;">
                  	<span color="#00AAFF" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #00AAFF; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 20px; text-align: justify;"><br/>Agente<br/></span></span><br>
                	</td>
                	<td style="width:50px;">
                	</td>
                    <td style="width: 250px; height: 50px; background:#DAEFFC; border-radius: 20px; text-align: center;">
                		<span style="font-size: 20px; color: #454a6c; font-family: Arial, Helvetica, sans-serif; text-align: justify;">{agente}</span>
                	</td>
                	<td style="width:50px;">
                	</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
              </table>
      		</td>
      	</tr>
      	<tr>
           	<td style="height: 20;">&nbsp;</td>
        </tr>
    	<tr data-mce-style="height: 30px;" style="height: 30px;">
			<td data-mce-style="height: 30px;" style="height: 30px;">&nbsp;</td>
			<td data-mce-style="height: 30px;" style="height: 30px;">&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 5px;" style="height: 5px;">
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;" style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;">&nbsp;</td>
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;" style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;">&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 18px;" style="height: 18px;">
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px;" style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px;">&nbsp;</td>
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px; " style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px;"><span><a href="https://www.interseguro.pe/s" style="text-decoration: none; color: #ffffff; font-size: 18px;"target="_blank">www.interseguro.com.pe</a></span></td>
		</tr>
		<tr data-mce-style="height: 5px;" style="height: 5px;">
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;" style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;">&nbsp;</td>
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;" style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
</body>
</html>