<html>
<head>
	<title></title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="mce-item-table" data-mce-style="margin: 0 auto;" style="margin: 0 auto;" width="600">
	<tbody>
		<tr data-mce-style="height: 69px;" style="height: 69px;">
			<td>&nbsp;</td>
			<td data-mce-style="height: 43px;" style="height: 43px;"><img caption="false" data-mce-src="http://images.masterbase.com/v1/interseguro/b/cabecera-logo-azul-1.png" data-mce-style="display: block; border: 0;" height="43" src="http://images.masterbase.com/v1/interseguro/b/cabecera-logo-azul-1.png" style="display: block; border: 0;" width="700" /></td>
		</tr>
	
		<tr data-mce-style="height: 350px;" style="height: 350px;">
			<td>&nbsp;</td>
			<td data-mce-style="height: 350px;" style="height: 361px;"><a href="#"><img caption="false" data-mce-src="http://images.masterbase.com/v1/interseguro/b/cabecera-1.png" data-mce-style="display: block; border: 0;" height="323" src="http://images.masterbase.com/v1/interseguro/b/cabecera-1.png" style="display: block; border: 0;" width="700" /></a></td>
		</tr>
		<tr>
			<td height="20">&nbsp;</td>
		</tr>
		<!-- <tr>
			<td colspan="2" style="text-align: center;">opci&oacute;n 1</td>
		</tr>
		<tr data-mce-style="height: 86px;" style="height: 86px;">
			<td data-mce-style="text-align: center; height: 86px;" style="text-align: center; height: 86px;">&nbsp;</td>
			<td data-mce-style="text-align: center; height: 86px;" style="text-align: center; height: 86px;"><br />
			<span color="#0f44b9" data-mce-style="color: #0856c5; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #0f44b9; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 40px;" style="font-size: 40px;"><b>Pago y afiliaci&oacute;n exitosos</b></span></span>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" style="text-align: center;">opci&oacute;n 2</td>
		</tr> -->
		<tr data-mce-style="height: 86px;" style="height: 86px;">
			<td data-mce-style="text-align: center; height: 86px;" style="text-align: center; height: 86px;">&nbsp;</td>
			<td data-mce-style="text-align: center; height: 86px;" style="text-align: center; height: 86px;"><br />
			<span color="#0f44b9" data-mce-style="color: #0856c5; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #0f44b9; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 40px;" style="font-size: 40px;"><b>{mensaje}</b></span></span>
			</td>
		</tr>

		<tr data-mce-style="height: 1px;" style="height: 1px;">
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">&nbsp;</td>
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;"><br />
			<span color="#4d4d4d" data-mce-style="color: #4a5f6f; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #4a5f6f; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 22px;" style="font-size: 26px;"><b>&iexcl;Bienvenid@ a Interseguro!</b><br>Los cargos se realizar&aacute;n a la {tipo} especificada.</span> </span></td>
		</tr>
		<tr>
			<td height="10">&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 1px;" style="height: 1px; background:#eef5ff">
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">&nbsp;</td>
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">
			<span color="#454a6c" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #454A6C; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 24px;"><br>Estos son los datos de tu solicitud:<br></span></span></td>
		</tr>
		
		<tr data-mce-style="height: 1px;" style="height: 1px; background:#eef5ff">
          <td colspan="2" style="border-bottom:0px solid #4d4d4d;height:40px;text-align:left;">
            <table class="egt" border="0" cellpadding="0" cellspacing="0" width="100%">
               <tr>
                    <td>&nbsp;</td>
                </tr>
               <tr>
               	<td style="width:60px;">
                	</td>
               	<td style="width:250px; text-align:justify;">
                  	<span color="#0856C5" data-mce-style="color: #0856C5; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #00AAFF; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 20px; text-align: left; color: #00AAFF;"><br/>N&deg; de solicitud<br/></span></span><br>
                	</td>
                	<td style="width:40px;">
                	</td>
                    <td style="width: 250px; height:50px; background:#DAEFFC; border-radius: 20px; text-align: center;">
                        <span style="font-size: 19px; color: #454a6c; font-family: Arial, Helvetica, sans-serif; text-align: center;">{numeroSolicitud}</span>
                    </td>
                    <td style="width:40px;">
                	</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                	<td style="width:20px;">
                	</td>
                   	<td style="width:250px; text-align: justify;">
                  	     <span color="#00AAFF" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #00AAFF; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 20px; text-align: left;"><br/>Monto pagado<br/></span></span><br>
                	</td>
                	<td style="width:50px;">
                	</td>
                	<td style="width:250px; height: 50px; background:#DAEFFC; border-radius: 20px; text-align: center;">
                        <span style="font-size: 20px; color: #454a6c; font-family: Arial, Helvetica, sans-serif; text-align: left;">{montoPrimeraPrima}</span>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                	<td style="width:20px;">
                	</td>
                	<td style="width:250px; text-align: justify;">
                  	<span color="#00AAFF" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #00AAFF; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 20px; text-align: justify;"><br/>Seguro<br/></span></span><br>
                	</td>
                	<td style="width:50px;">
                	</td>
                    <td style="width: 250px; height: 50px; background:#DAEFFC; border-radius: 20px; text-align: center;">
                		<span style="font-size: 20px; color: #454a6c; font-family: Arial, Helvetica, sans-serif; text-align: justify;">{producto}</span>
                	</td>
                	<td style="width:50px;">
                	</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                	<td style="width:20px;">
                	</td>
                	<td style="width:250px; text-align: justify;">
                  	<span color="#00AAFF" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #00AAFF; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 20px; text-align: justify;"><br/>Frecuencia de Pago<br/></span></span><br>
                  	</td>
                  	<td style="width:50px;">
                	</td>
                   	<td style="width: 250px; height: 50px; background:#DAEFFC; border-radius: 20px; text-align: center;">
                		<span style="font-size: 20px; color: #454a6c; font-family: Arial, Helvetica, sans-serif; text-align: justify;">{frecuenciaPago}</span>
                	</td>
                	<td style="width:50px;">
                	</td>
                </tr>
                <tr>
				<td height="20">&nbsp;</td>
				</tr>
                <tr>
                	<td style="width:20px;">
                	</td>
                   	<td style="width:250px; text-align: justify;">
                  	     <span color="#00AAFF" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #00AAFF; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 20px; text-align: justify;"><br/>M&eacute;todo de pago afiliado<br/></span></span><br>
                	</td>
                	<td style="width:50px;">
                	</td>
                	<td style="width: 250px; height: 50px; background:#DAEFFC; border-radius: 20px; text-align: center;">
                		<span style="font-size: 20px; color: #454a6c; font-family: Arial, Helvetica, sans-serif; text-align: justify;">{proximoPago}</span>
                	</td>
                	<td style="width:50px;">
                	</td>
                <tr>
                   	<td style="height: 40;">&nbsp;</td>
                </tr>
                </tr>
              </table>
      		</td>
      	</tr>
      	<tr>
           	<td style="height: 20;">&nbsp;</td>
        </tr>
    	<tr data-mce-style="height: 339px;" style="height: 414px;">
			<td>&nbsp;</td>
			<td data-mce-style="height: 339px;" style="height: 339px;"><a href="#"><img caption="false" data-mce-src="http://images.masterbase.com/v1/interseguro/b/vivepasos.png" data-mce-style="display: block; border: 0;" height="419" src="http://images.masterbase.com/v1/interseguro/b/vivepasos.png" style="display: block; border: 0;" width="699" /></a></td>
		</tr>
		
		<tr data-mce-style="height: 1px;" style="height: 1px; background:#eef5ff">
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">&nbsp;</td>
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">
			<span color="#454a6c" data-mce-style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 24px;" style="font-size: 24px;"><br/>&iquest;Ya conoces nuestros seguros <br/>100% online?<br/></span></span></td>
		</tr>
		
		
		<tr style="height:26px;background:#eef5ff">
			<td colspan="2" style="border-bottom:0px solid #4d4d4d;height:20px;text-align:center;">
			<table border="0" cellpadding="0" cellspacing="0" class="egt" width="100%">
					<tr>
						<td style="height: 20px;">&nbsp;</td>
					</tr>
					<tr>
						<td style="width:46px;">&nbsp;</td>
						<td style="width:233px;"><a href="#" target="_blank"><img alt="#" src="http://images.masterbase.com/v1/interseguro/b/ico-vehicular.png" style="display: block; margin: 0 auto; border: 0px none; width: 135px; height: 116px;" /></a></td>
						<td style="width:46px;">&nbsp;</td>
						<td style="width:233px;"><a href="#" target="_blank"><img alt="#" src="http://images.masterbase.com/v1/interseguro/b/ico-viajes.png" style="display: block; margin: 0 auto; border: 0px none; width: 131px; height:116px;" /></a></td>
						<td style="width:46px;">&nbsp;</td>
						<td style="width:233px;"><a href="#" target="_blank"><img alt="#" src="http://images.masterbase.com/v1/interseguro/b/ico-soat.png" style="display: block; margin: 0 auto; border: 0px none; width: 135px; height: 116px;" /></a></td>
						<td style="width:46px;">&nbsp;</td>
					</tr>
					<tr style="text-align: center; color: #454a6c;">
						<td style="width: 46px;">&nbsp;</td>
						<td style="width: 250px"><span style="font-size: 19px; color: #0856c5; font-family: Arial, Helvetica, sans-serif; text-align: center;">Vehicular</span></td>
						<td style="width:46px;">&nbsp;</td>
						<td style="width: 200px; color: #454a6c;"><span style="font-size: 19px; color: #0856c5; font-family: Arial, Helvetica, sans-serif; text-align: center;">Viajes</span></td>
						<td style="width:46px;">&nbsp;</td>
						<td style="width: 200px"><span style="font-size: 19px; color: #0856c5; font-family: Arial, Helvetica, sans-serif; text-align: center;">SOAT</span></td>
						<td style="width:46px; height: 50px;">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
           <td height="20"></td>
       </tr>
		<tr data-mce-style="height: 61px;" style="height: 61px;">
			<td data-mce-style="height: 61px;" style="height: 61px;">
				&nbsp;</td>
			<td data-mce-style="height: 61px;" style="height: 61px; border-top: 1px solid #f8f8f8;">
				<table border="0" cellpadding="0" cellspacing="0" class="mce-item-table" data-mce-style="border: 0px none; margin: 0px auto; width: 630px;" style="border: 0px none; margin: 0px auto; width: 630px;">
					<tbody>
						<tr>
							<td data-mce-style="width: 49px;" style="width: 49px;">
								<a data-mce-="" href="https://www.facebook.com/interseguro/" id="24952950" rel="noopener noreferrer" target="_blank"><img caption="false" data-mce-="" data-mce-style="display: block; border: 0;" height="46" src="http://images.masterbase.com/v1/interseguro/b/face.jpg" style="display: block; border: 0;" width="46" /></a></td>
							<td data-mce-style="width: 10px;" style="width: 10px;">
								&nbsp;</td>
							<td data-mce-style="width: 46.0333px;" style="width: 46.0333px;"">
								<a data-mce-="" href="https://www.instagram.com/interseguroperu/?hl=es-la" id="24953841" rel="noopener noreferrer" target="_blank"><img caption="false" data-mce-="" height="46" src="http://images.masterbase.com/v1/interseguro/b/insta.png" width="46" /></a></td>
							<td data-mce-style="width: 12.9667px;" style="width: 12.9667px;">
								&nbsp;</td>
							<td data-mce-style="width: 48px;" style="width: 48px;">
								<a data-mce-="" href="https://www.interseguro.com.pe/blog/" id="24952949" rel="noopener noreferrer" target="_blank"><img caption="false" data-mce-="" data-mce-style="display: block; border: 0;" height="46" src="http://images.masterbase.com/v1/interseguro/b/blog.jpg" style="display: block; border: 0;" width="46" /></a></td>
							<td data-mce-style="width: 12px;" style="width: 12px;">
								&nbsp;</td>
							<td data-mce-style="width: 48px;" style="width: 48px;">
								<a data-mce-="" href="https://www.linkedin.com/company/interseguro-compania-de-seguros/" id="24952948" rel="noopener noreferrer" target="_blank"><img caption="false" data-mce-="" data-mce-style="display: block; border: 0;" height="46" src="http://images.masterbase.com/v1/interseguro/b/link.jpg" style="display: block; border: 0;" width="46" /></a></td>
							<td data-mce-style="width: 93px;" style="width: 93px;">
								&nbsp;</td>
							<td data-mce-style="width: 291px;" style="width: 291px;">
								<span data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #4d4d4d; text-align: right; width: 100%; display: block;" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #4d4d4d; text-align: right; width: 100%; display: block;"><a style="text-decoration: none; color: #4a5f6f;" href="tel:(01) 500-0000">(01) 500-0000</a></span></td>
								<td style="width:15px;">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr data-mce-style="height: 30px;" style="height: 30px;">
			<td data-mce-style="height: 30px;" style="height: 30px;">&nbsp;</td>
			<td data-mce-style="height: 30px;" style="height: 30px;">&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 5px;" style="height: 5px;">
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;" style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;">&nbsp;</td>
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;" style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;">&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 18px;" style="height: 18px;">
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px;" style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px;">&nbsp;</td>
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px; " style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px;"><span><a href="https://www.interseguro.pe/s" style="text-decoration: none; color: #ffffff; font-size: 18px;"target="_blank">www.interseguro.com.pe</a></span></td>
		</tr>
		<tr data-mce-style="height: 5px;" style="height: 5px;">
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;" style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;">&nbsp;</td>
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;" style="background: #0855c4 none repeat scroll 0% 0%; height: 5px;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
</body>
</html>