<br>
<table style="border: 0px none; margin: 0px auto;" data-mce-style="border: 0px none; margin: 0px auto;"
   class="mce-item-table" width="700" cellspacing="0" cellpadding="0" border="0">
   <tbody>
      <tr style="height: 69px;" data-mce-style="height: 69px;">
         <td style="height: 69px;" data-mce-style="height: 69px;"><img
               src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/INTERSEGURO-Prototipo-de-nuevo-mail-EECC_01.jpg"
               caption="false" style="display: block; border: 0;"
               data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/INTERSEGURO-Prototipo-de-nuevo-mail-EECC_01.jpg"
               data-mce-style="display: block; border: 0;" width="700" height="69"></td>
      </tr>
      <tr style="height: 120px;" data-mce-style="height: 120px;">
         <td style="height: 120px;" data-mce-style="height: 120px;"><img
               src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_02.jpg"
               caption="false"
               data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_02.jpg"
               width="700" height="250"></td>
      </tr>
      <tr style="height: 40px;" data-mce-style="height: 40px;">
         <td style="height: 40px;" data-mce-style="height: 40px;"></td>
      </tr>
      <tr style="height: 210px;" data-mce-style="height: 210px;">
         <td style="text-align: center; height: 210px;" data-mce-style="text-align: center; height: 210px;"><span
               style="font-family: Arial, Helvetica, sans-serif; font-size: 40px; font-weight: bold; color: #4d4d4d;"
               data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 40px; font-weight: bold; color: #4d4d4d;"><span
                  style="color: #0f44b9;" data-mce-style="color: #0f44b9;">Hola {nombre},</span><br></span><br><span
               style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
               data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"><br><span
                  style="font-size: 18pt;" data-mce-style="font-size: 18pt;">Te agradecemos por la aceptación al
                  tratamiento de<br>tus Datos Personales. Así mismo, te adjuntamos una<br>copia de la información
                  brindada a</span><br><span style="font-size: 18pt;" data-mce-style="font-size: 18pt;"><strong><span
                        style="color: #0f44b9;"
                        data-mce-style="color: #0f44b9;">{nombreAgente}</span></strong></span></span></td>
      </tr>
      <tr style="height: 185px;" data-mce-style="height: 185px;">
         <td style="text-align: center; height: 185px;" data-mce-style="text-align: center; height: 185px;">
            <table
               style="width: 547px; height: 143px; background-color: #f5f5f5; margin-left: auto; margin-right: auto;"
               data-mce-style="width: 547px; height: 143px; background-color: #f5f5f5; margin-left: auto; margin-right: auto;"
               class="mce-item-table">
               <tbody>
                  <tr style="height: 13px;" data-mce-style="height: 13px;">
                     <td style="width: 72px; height: 13px;" data-mce-style="width: 72px; height: 13px;"></td>
                     <td style="width: 10px; height: 13px;" data-mce-style="width: 10px; height: 13px;"></td>
                     <td style="width: 440px; height: 13px;" data-mce-style="width: 440px; height: 13px;"></td>
                  </tr>
                  <tr style="height: 32px;" data-mce-style="height: 32px;">
                     <td style="width: 72px; text-align: center; height: 32px;"
                        data-mce-style="width: 72px; text-align: center; height: 32px;"><img
                           src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/pregunta-ico_03.gif"
                           alt="" style="float: right;"
                           data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/pregunta-ico_03.gif"
                           data-mce-style="float: right;" width="40" height="40"></td>
                     <td style="width: 10px; height: 32px;" data-mce-style="width: 10px; height: 32px;"></td>
                     <td style="width: 440px; text-align: left; height: 32px;"
                        data-mce-style="width: 440px; text-align: left; height: 32px;"><span
                           style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
                           data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;">Si
                           no reconoces esta actividad, recuerda que puedes llamarnos al 500-0000 para brindarnos mayor
                           información.</span></td>
                  </tr>
                  <tr style="height: 2px;" data-mce-style="height: 2px;">
                     <td style="width: 72px; height: 2px;" data-mce-style="width: 72px; height: 2px;"></td>
                     <td style="width: 10px; height: 2px;" data-mce-style="width: 10px; height: 2px;"></td>
                     <td style="width: 440px; height: 2px;" data-mce-style="width: 440px; height: 2px;"></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr style="height: 17px;" data-mce-style="height: 17px;">
         <td style="height: 17px;" data-mce-style="height: 17px;"></td>
      </tr>
      <tr style="height: 40px;" data-mce-style="height: 40px;">
         <td style="height: 40px; text-align: center;" data-mce-style="height: 40px; text-align: center;">
            <table
               style="height: 111px; background-color: #f5f5f5; margin-left: auto; margin-right: auto; width: 700px;"
               data-mce-style="height: 111px; background-color: #f5f5f5; margin-left: auto; margin-right: auto; width: 700px;"
               class="mce-item-table" height="111">
               <tbody>
                  <tr>
                     <td style="width: 228px; text-align: left;" data-mce-style="width: 228px; text-align: left;"></td>
                     <td style="width: 678px; text-align: left;" data-mce-style="width: 678px; text-align: left;"></td>
                     <td style="width: 101.95px; text-align: left;" data-mce-style="width: 101.95px; text-align: left;">
                     </td>
                     <td style="width: 325.05px; text-align: center;"
                        data-mce-style="width: 325.05px; text-align: center;"></td>
                     <td style="width: 195px; text-align: center;" data-mce-style="width: 195px; text-align: center;">
                     </td>
                  </tr>
                  <tr>
                     <td style="width: 228px; text-align: left;" data-mce-style="width: 228px; text-align: left;"></td>
                     <td style="width: 678px; text-align: left;" data-mce-style="width: 678px; text-align: left;"><span
                           style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
                           data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;">Recuerda
                           que Interseguro<br>forma parte del grupo:</span></td>
                     <td style="width: 101.95px; text-align: left;" data-mce-style="width: 101.95px; text-align: left;">
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
                           data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"></span>
                     </td>
                     <td style="width: 325.05px; text-align: center;"
                        data-mce-style="width: 325.05px; text-align: center;"><img
                           src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_07.gif"
                           alt=""
                           data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_07.gif"
                           width="189" height="37"></td>
                     <td style="width: 195px; text-align: center;" data-mce-style="width: 195px; text-align: center;">
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr style="height: 127px;" data-mce-style="height: 127px;">
         <td style="height: 127px; text-align: center;" data-mce-style="height: 127px; text-align: center;">
            <table style="width: 700px; background-color: #f5f5f5; margin-left: auto; margin-right: auto;"
               data-mce-style="width: 700px; background-color: #f5f5f5; margin-left: auto; margin-right: auto;"
               class="mce-item-table">
               <tbody>
                  <tr style="height: 24px;" data-mce-style="height: 24px;">
                     <td style="height: 24px;" data-mce-style="height: 24px;"></td>
                     <td style="height: 24px;" data-mce-style="height: 24px;"><span
                           style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
                           data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"></span>
                     </td>
                     <td style="height: 24px;" data-mce-style="height: 24px;"></td>
                  </tr>
                  <tr style="height: 115px;" data-mce-style="height: 115px;">
                     <td style="height: 115px;" data-mce-style="height: 115px;"></td>
                     <td style="text-align: center; height: 115px;" data-mce-style="text-align: center; height: 115px;">
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14pt; color: #4d4d4d;"
                           data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 14pt; color: #4d4d4d;">Un
                           grupo empresarial comprometido con el desarrollo y bienestar<br>de las familias
                           peruanas.<br><br>Líderes en sectores como banca, seguros, retail, bienes
                           raíces,<br>educación, entre otros.</span></td>
                     <td style="height: 115px;" data-mce-style="height: 115px;"></td>
                  </tr>
                  <tr style="height: 10px;" data-mce-style="height: 10px;">
                     <td style="height: 10px;" data-mce-style="height: 10px;"></td>
                     <td style="height: 10px;" data-mce-style="height: 10px;"><span
                           style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
                           data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"></span>
                     </td>
                     <td style="height: 10px;" data-mce-style="height: 10px;"></td>
                  </tr>
               </tbody>
            </table>
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
               data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"></span>
         </td>
      </tr>
      <tr style="height: 40px;" data-mce-style="height: 40px;">
         <td style="height: 40px; text-align: center;" data-mce-style="height: 40px; text-align: center;">
            <table style="width: 700px; background-color: #f5f5f5;"
               data-mce-style="width: 700px; background-color: #f5f5f5;" class="mce-item-table">
               <tbody>
                  <tr style="height: 22px;" data-mce-style="height: 22px;">
                     <td style="height: 22px;" data-mce-style="height: 22px;"></td>
                     <td style="height: 22px;" data-mce-style="height: 22px;"></td>
                     <td style="height: 22px;" data-mce-style="height: 22px;"></td>
                  </tr>
                  <tr style="height: 47px;" data-mce-style="height: 47px;">
                     <td style="height: 47px;" data-mce-style="height: 47px;"></td>
                     <td style="height: 47px;" data-mce-style="height: 47px;"><span
                           style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
                           data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"><span
                              style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"
                              data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4d4d4d;"><img
                                 src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_11.gif"
                                 alt="" style="display: block; margin-left: auto; margin-right: auto;"
                                 data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_11.gif"
                                 data-mce-style="display: block; margin-left: auto; margin-right: auto;" width="215"
                                 height="35"></span></span></td>
                     <td style="height: 47px;" data-mce-style="height: 47px;"></td>
                  </tr>
                  <tr style="height: 30px;" data-mce-style="height: 30px;">
                     <td style="height: 30px;" data-mce-style="height: 30px;"></td>
                     <td style="height: 30px;" data-mce-style="height: 30px;"></td>
                     <td style="height: 30px;" data-mce-style="height: 30px;"></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr style="height: 87px;" data-mce-style="height: 87px;">
         <td style="height: 87px; text-align: center;" data-mce-style="height: 87px; text-align: center;">
            <table
               style="width: 700px; background-color: #f5f5f5; height: 273px; margin-left: auto; margin-right: auto;"
               data-mce-style="width: 700px; background-color: #f5f5f5; height: 273px; margin-left: auto; margin-right: auto;"
               class="mce-item-table">
               <tbody>
                  <tr style="height: 13px;" data-mce-style="height: 13px;">
                     <td style="width: 12.5667px; height: 13px;" data-mce-style="width: 12.5667px; height: 13px;"></td>
                     <td style="width: 594.867px; height: 13px;" data-mce-style="width: 594.867px; height: 13px;"></td>
                     <td style="width: 12.5667px; height: 13px;" data-mce-style="width: 12.5667px; height: 13px;"></td>
                  </tr>
                  <tr style="height: 275px;" data-mce-style="height: 275px;">
                     <td style="width: 12.5667px; height: 275px;" data-mce-style="width: 12.5667px; height: 275px;">
                     </td>
                     <td style="width: 594.867px; height: 275px;" data-mce-style="width: 594.867px; height: 275px;"><img
                           src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_15.gif"
                           alt="" style="display: block; margin-left: auto; margin-right: auto;"
                           data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_15.gif"
                           data-mce-style="display: block; margin-left: auto; margin-right: auto;" width="502"
                           height="273"></td>
                     <td style="width: 12.5667px; height: 275px;" data-mce-style="width: 12.5667px; height: 275px;">
                     </td>
                  </tr>
                  <tr style="height: 43.5px;" data-mce-style="height: 43.5px;">
                     <td style="width: 12.5667px; height: 43.5px;" data-mce-style="width: 12.5667px; height: 43.5px;">
                     </td>
                     <td style="width: 594.867px; height: 43.5px;" data-mce-style="width: 594.867px; height: 43.5px;">
                     </td>
                     <td style="width: 12.5667px; height: 43.5px;" data-mce-style="width: 12.5667px; height: 43.5px;">
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr style="height: 40px;" data-mce-style="height: 40px;">
         <td style="height: 40px; text-align: center;" data-mce-style="height: 40px; text-align: center;">
            <table style="background-color: #f5f5f5; width: 700px; margin-left: auto; margin-right: auto;"
               data-mce-style="background-color: #f5f5f5; width: 700px; margin-left: auto; margin-right: auto;"
               class="mce-item-table">
               <tbody>
                  <tr style="height: 264px;" data-mce-style="height: 264px;">
                     <td style="height: 264px;" data-mce-style="height: 264px;"></td>
                     <td style="text-align: center; height: 264px;" data-mce-style="text-align: center; height: 264px;">
                        <img
                           src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_19.gif"
                           caption="false"
                           data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/HTML-ADN-Digital2_21-2.gif"
                           width="576" height="262"></td>
                     <td style="height: 264px;" data-mce-style="height: 264px;"></td>
                  </tr>
                  <tr style="height: 24.5px;" data-mce-style="height: 24.5px;">
                     <td style="height: 24.5px;" data-mce-style="height: 24.5px;"></td>
                     <td style="text-align: center; height: 24.5px;"
                        data-mce-style="text-align: center; height: 24.5px;"></td>
                     <td style="height: 24.5px;" data-mce-style="height: 24.5px;"></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr style="height: 40px;" data-mce-style="height: 40px;">
         <td style="height: 40px; text-align: center;" data-mce-style="height: 40px; text-align: center;"></td>
      </tr>
      <tr style="height: 61px;" data-mce-style="height: 61px;">
         <td style="height: 61px;" data-mce-style="height: 61px;">
            <table style="border: 0; margin: 0 auto;" data-mce-style="border: 0; margin: 0 auto;" class="mce-item-table"
               width="630" cellspacing="0" cellpadding="0" border="0">
               <tbody>
                  <tr>
                     <td width="46"><a target="_blank" id="23659370" href="https://www.facebook.com/interseguro/"
                           rel="noopener noreferrer" data-mce-href="https://www.facebook.com/interseguro/"><img
                              src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/INTERSEGURO-Prototipo-de-nuevo-mail-EECC_15.jpg"
                              caption="false" style="display: block; border: 0;"
                              data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/INTERSEGURO-Prototipo-de-nuevo-mail-EECC_15.jpg"
                              data-mce-style="display: block; border: 0;" width="46" height="46"></a><br
                           data-mce-bogus="1"></td>
                     <td width="20"></td>
                     <td width="46"><a target="_blank" id="23659369" href="https://www.interseguro.com.pe/blog/"
                           rel="noopener noreferrer" data-mce-href="https://www.interseguro.com.pe/blog/"><img
                              src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/INTERSEGURO-Prototipo-de-nuevo-mail-EECC_17.jpg"
                              caption="false" style="display: block; border: 0;"
                              data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/INTERSEGURO-Prototipo-de-nuevo-mail-EECC_17.jpg"
                              data-mce-style="display: block; border: 0;" width="46" height="46"></a><br
                           data-mce-bogus="1"></td>
                     <td width="20"></td>
                     <td width="46"><a target="_blank" id="23659368"
                           href="https://www.linkedin.com/company/interseguro-compania-de-seguros/"
                           rel="noopener noreferrer"
                           data-mce-href="https://www.linkedin.com/company/interseguro-compania-de-seguros/"><img
                              src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/INTERSEGURO-Prototipo-de-nuevo-mail-EECC_19.jpg"
                              caption="false" style="display: block; border: 0;"
                              data-mce-src="http://images.masterbase.com/v1/intersegurocompe/b/adndigital/INTERSEGURO-Prototipo-de-nuevo-mail-EECC_19.jpg"
                              data-mce-style="display: block; border: 0;" width="46" height="46"></a><br
                           data-mce-bogus="1"></td>
                     <td width="185"></td>
                     <td>
 
                        <span
                           style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #4d4d4d; text-align: right; width: 100%; display: block;"
                           data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #4d4d4d; text-align: right; width: 100%; display: block;">(01)
                           500-0000</span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr style="height: 18px;" data-mce-style="height: 18px;">
         <td style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px;"
            data-mce-style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px;">
            <span>www.interseguro.pe</span></td>
      </tr>
   </tbody>
</table>
<br data-mce-bogus="1">