<html>
<title></title>
<head></head>


<table align="center" border="0" cellpadding="0" cellspacing="0" class="mce-item-table" data-mce-style="margin: 0 auto;" style="margin: 0 auto;" width="600">
	<tbody>
		<tr>
			<td data-mce-style="height: 69px;" style="height: 69px;">
				<img caption="false" data-mce-="" data-mce-style="display: block; border: 0;" height="69" src="http://img.mailinblue.com/2581712/images/5fd292b6bd21a_1607635638.png" style="display: block; border: 0;" width="700" /></td>
		</tr>
		<tr>
			<td data-mce-style="height: 335px;" style="height: 335px;">
				<img caption="false" data-mce-="" data-mce-style="display: block; border: 0;" height="auto" src="http://img.mailinblue.com/2581712/images/5fd292bbc2b17_1607635643.png" style="display: block; border: 0;" width="700" /></td>
		</tr>
		<tr data-mce-style="height: 86px;" style="height: 86px;">
			<td data-mce-style="text-align: center; height: 86px;" style="text-align: center; height: 86px;">
				<span color="#0f44b9" data-mce-style="color: #0856c5; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #0855c4; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 40px;" style="font-size: 40px;"><b>Hola, {asegurado}</b></span></span></td>
		</tr>
		<tr>
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">
				<span color="#454A6C" data-mce-style="color: #4a5f6f; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #454a6c; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 22px;" style="font-size: 30px;">&iexcl;Gracias por cotizar con nosotros!</span></span></td>
		</tr>
		<tr>
			<td height="20">
				&nbsp;</td>
		</tr>
		<tr>
			<td data-mce-style="height: 1px; text-align: center;" style="height: 1px; text-align: center;">
				<span color="#454A6C" data-mce-style="color: #4a5f6f; font-family: Arial, Helvetica, sans-serif;" face="Arial, Helvetica, sans-serif" style="color: #0855c4; font-family: Arial, Helvetica, sans-serif;"><span data-mce-style="font-size: 22px;" style="font-size: 30px;">Cotizaci&oacute;n N&ordm; {numeroCotizacion}</span></span></td>
		</tr>
		<tr>
			<td height="20">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				<table align="center" width="650">
					<tbody>
						<tr>
							<td>
								<table align="center" style="background-color: #f6f9fc; width: 180px; height: 185px; border-radius: 25px;">
									<tbody>
										<tr align="center">
											<td>
												<img alt="ico1.png" height="80" src="http://img.mailinblue.com/2581712/images/5fd292d6b4a24_1607635670.png" style="display: block; border: 0;" width="80" /></td>
										</tr>
										<tr align="center">
											<td style="text-align: center;">
												<span style="font-size: 15px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">Estar&aacute;s<br />
												protegido por</span></td>
										</tr>
										<tr align="center">
											<td>
												<span style="font-size: 20px; color: #0855c4; font-family: Arial, Helvetica, sans-serif; text-align: center;">{periodoCobertura}</span></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td>
								<table align="center" style="background-color: #f6f9fc; width: 180px; height: 185px; border-radius: 25px;">
									<tbody>
										<tr align="center">
											<td>
												<img alt="ico2.png" height="80" src="http://img.mailinblue.com/2581712/images/5fd292dd19573_1607635677.png" style="display: block; border: 0;" width="80" /></td>
										</tr>
										<tr align="center">
											<td style="text-align: center;">
												<span style="font-size: 15px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">Tu seguro te cubre<br />
												en caso de:</span></td>
										</tr>
										<tr align="center">
											<td>
												<span style="font-size: 20px; color: #0855c4; font-family: Arial, Helvetica, sans-serif; text-align: center;">{TipoCoberturaPrincipal}</span></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td>
								<table align="center" style="background-color: #f6f9fc; width: 180px; height: 185px; border-radius: 25px;">
									<tbody>
										<tr align="center">
											<td>
												<img alt="ico3.png" height="80" src="http://img.mailinblue.com/2581712/images/5fd292e133f6a_1607635681.png" style="display: block; border: 0;" width="80" /></td>
										</tr>
										<tr align="center">
											<td style="text-align: center;">
												<span style="font-size: 15px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">En caso de un siniestro,<br />
												tu familia recibir&aacute; hasta:</span></td>
										</tr>
										<tr align="center">
											<td>
												<span style="font-size: 20px; color: #0855c4; font-family: Arial, Helvetica, sans-serif; text-align: center;">{montoCoberturaPrincipal}</span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="20">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				<table align="center" width="650">
					<tbody>
						<tr>
							<td>
								<table align="center" style="background-color: #f6f9fc; width: 180px; height: 185px; border-radius: 25px;">
									<tbody>
										<tr align="center">
											<td>
												<img alt="ico4.png" height="80" src="http://img.mailinblue.com/2581712/images/5fd292e6938d3_1607635686.png" style="display: block; border: 0;" width="80" /></td>
										</tr>
										<tr align="center">
											<td style="text-align: center;">
												<span style="font-size: 15px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">Tu pago<br />
												mensual es:</span></td>
										</tr>
										<tr align="center">
											<td>
												<span style="font-size: 20px; color: #0855c4; font-family: Arial, Helvetica, sans-serif; text-align: center;">{prima}</span></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td>
								<table align="center" style="background-color: #f6f9fc; width: 180px; height: 185px; border-radius: 25px;">
									<tbody>
										<tr align="center">
											<td>
												<img alt="ico5.png" height="80" src="http://img.mailinblue.com/2581712/images/5fd292ee2f458_1607635694.png" style="display: block; border: 0;" width="80" /></td>
										</tr>
										<tr align="center">
											<td style="text-align: center;">
												<span style="font-size: 15px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">Tu porcentaje de<br />
												de devoluci&oacute;n es:</span></td>
										</tr>
										<tr align="center">
											<td>
												<span style="font-size: 20px; color: #0855c4; font-family: Arial, Helvetica, sans-serif; text-align: center;">{porcentajeDevolucion}</span></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td>
								<table align="center" style="background-color: #f6f9fc; width: 180px; height: 185px; border-radius: 25px;">
									<tbody>
										<tr align="center">
											<td>
												<img alt="ico6.png" height="80" src="http://img.mailinblue.com/2581712/images/5fd292f5bfde3_1607635701.png" style="display: block; border: 0;" width="80" /></td>
										</tr>
										<tr align="center">
											<td style="text-align: center;">
												<span style="font-size: 15px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">Al t&eacute;rmino de tu<br />
												seguro, recibir&aacute;s:</span></td>
										</tr>
										<tr align="center">
											<td>
												<span style="font-size: 20px; color: #ea0f90; font-family: Arial, Helvetica, sans-serif; text-align: center;">{montoDevolucion}</span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr style="height:20px;">
			<td style="height:20px;">
				&nbsp;</td>
		</tr>
		<!--tr align="center">
			<td>
				<a href="#"><img alt="http://img.mailinblue.com/2581712/images/5fd292ffeee2b_1607635711.png" height="44" src="http://img.mailinblue.com/2581712/images/5fd292ffeee2b_1607635711.png" style="display: block; border: 0;" width="282" /></a></td>
		</tr>
		<tr>
			<td style="height:20px;"></td>
		</tr-->
		<tr>
			<td style="text-align:justify; padding-left: 50px;">
				<span style="font-size: 23px;"><span style="font-family: arial, helvetica, sans-serif; color: #454A6C;"><b>Para cualquier consulta, comun&iacute;cate con tu asesor:</b></span></span></td>
		</tr>
		<tr>
			<td style="height:20px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				<table align="center">
					<tbody>
						<tr>
							<td>
								<table align="center" width="450">
									<tbody>
										<tr>
											<td style="padding-left: 20px;">
												<img alt="icom1.png" height="50" src="http://img.mailinblue.com/2581712/images/5fd2930b729e3_1607635723.png" style="display: block; border: 0;" width="50" /></td>
											<td>
												<span style="font-size: 20px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">Agente:<br />
												{agenteNombre}</span></td>
										</tr>
										<tr style="height:30px;">
											<td>
												&nbsp;</td>
										</tr>
										<tr>
											<td style="padding-left: 20px;">
												<img alt="icom2.png" height="50" src="http://img.mailinblue.com/2581712/images/5fd29311c15b9_1607635729.png" style="display: block; border: 0;" width="50" /></td>
											<td>
												<span style="font-size: 20px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">Correo:<br />
												{agenteCorreo}</span></td>
										</tr>
										<!--tr style="height:30px;">
											<td>
												&nbsp;</td>
										</tr>
										<tr>
											<td style="padding-left: 20px;">
												<img alt="http://img.mailinblue.com/2581712/images/5fd29321dd279_1607635745.png" height="50" src="http://img.mailinblue.com/2581712/images/5fd29321dd279_1607635745.png" style="display: block; border: 0;" width="50" /></td>
											<td>
												<span style="font-size: 20px; color: #454A6C; font-family: Arial, Helvetica, sans-serif; text-align: center;">Celular<br>{agenteCelular}</span></td>
										</tr-->
									</tbody>
								</table>
							</td>
							<td>
								<img alt="hombre1.png" height="247" src="http://img.mailinblue.com/2581712/images/5fd2932db4a42_1607635757.png" style="display: block; border: 0;" width="201" /></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="15">
				&nbsp;</td>
		</tr>
		<tr>
			<td height="15">
				&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 61px;" style="height: 61px;">
			<td data-mce-style="height: 61px;" style="height: 61px; border-top: 1px solid #f8f8f8;">
				<table border="0" cellpadding="0" cellspacing="0" class="mce-item-table" data-mce-style="border: 0px none; margin: 0px auto; width: 630px;" style="border: 0px none; margin: 0px auto; width: 630px;">
					<tbody>
						<tr>
							<td data-mce-style="width: 49px;" style="width: 49px;">
								<a data-mce-="" href="https://www.facebook.com/interseguro/" id="24952950" rel="noopener noreferrer" target="_blank"><img caption="false" data-mce-="" data-mce-style="display: block; border: 0;" height="46" src="http://img.mailinblue.com/2581712/images/5e18b6fb8b0fc_1578678011.jpg" style="display: block; border: 0;" width="46" /></a></td>
							<td data-mce-style="width: 10px;" style="width: 10px;">
								&nbsp;</td>
							<td data-mce-style="width: 49px;" style="width: 49px;">
								<a data-mce-="" href="https://www.instagram.com/interseguroperu/?hl=es-la" id="24953841" rel="noopener noreferrer" target="_blank"><img caption="false" data-mce-="" height="46" src="http://img.mailinblue.com/2581712/images/5e18b70179397_1578678017.png" width="46" /></a></td>
							<td data-mce-style="width: 12.9667px;" style="width: 12.9667px;">
								&nbsp;</td>
							<td data-mce-style="width: 48px;" style="width: 48px;">
								<a data-mce-="" href="https://www.interseguro.com.pe/blog/" id="24952949" rel="noopener noreferrer" target="_blank"><img caption="false" data-mce-="" data-mce-style="display: block; border: 0;" height="46" src="http://img.mailinblue.com/2581712/images/5e18b706ed5d3_1578678022.jpg" style="display: block; border: 0;" width="46" /></a></td>
							<td data-mce-style="width: 12px;" style="width: 12px;">
								&nbsp;</td>
							<td data-mce-style="width: 48px;" style="width: 48px;">
								<a data-mce-="" href="https://www.linkedin.com/company/interseguro-compania-de-seguros/" id="24952948" rel="noopener noreferrer" target="_blank"><img caption="false" data-mce-="" data-mce-style="display: block; border: 0;" height="46" src="http://img.mailinblue.com/2581712/images/5e18b70e0a0c1_1578678030.jpg" style="display: block; border: 0;" width="46" /></a></td>
							<td data-mce-style="width: 93px;" style="width: 93px;">
								&nbsp;</td>
							<td data-mce-style="width: 291px;" style="width: 291px;">
								<span data-mce-style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #454A6C; text-align: right; width: 100%; display: block;" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #454A6C; text-align: right; width: 100%; display: block;"><a href="tel:(01) 500-0000" style="text-decoration: none; color: #454A6C;">(01) 500-0000</a></span></td>
							<td style="height:40px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td data-mce-style="height: 30px;" style="height: 30px;">
				&nbsp;</td>
		</tr>
		<tr data-mce-style="height: 18px;" style="height: 50px;">
			<td data-mce-style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px; " style="background: #0855c4 none repeat scroll 0% 0%; text-align: center; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 16px; height: 18px; ">
				<span><a href="https://www.interseguro.pe/" style="text-decoration: none; color: #ffffff; font-size: 18px;" target="_blank">www.interseguro.pe</a></span></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p></html>