<div id=":2mo" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc1MzEzNzM3MzY4ODY0ODgyNiIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc1MzEzNzM3MzY4ODY0ODgyNiIsbnVsbCxbXV0."><div id=":2mp" class="a3s aiL "><div class="adM">




</div><div><div class="adM">
</div><table cellspacing="0" cellpadding="0" align="center" border="0" width="600" style="margin:0 auto">
                        <tbody><tr>
                          <td><img src="https://ci4.googleusercontent.com/proxy/nSwewFVpes4FestwxnSpjY8tPCn3ygAPkyRm0Bmad-f3n5RX40Zibk-X6-N6DDaFIogG465hizhIanZWH_PlAyRkC21r6ACradJnh3YII1Kf4Hllm-X3gwn0Q7iP9g=s0-d-e1-ft#http://images.masterbase.com/v1/interseguro/b/Cotizacion_Mailing_Dev_01.jpg" alt="" style="display:block;border:0" class="CToWUd" data-bit="iit"></td>
                        </tr>
                        <tr>
                          <td><img src="https://ci3.googleusercontent.com/proxy/CHn7Vz4MCIJ50_-HoqG1aKuvzz9m2DvsgPVPMOa1pN7I_xxjYGvSi90sML-z1-TGky8_FBad9L6f4cSsOTHjUMTWtoBRfqHq4XQSNpoy7wjwQwEzmikMkkO1TvNaWF1GmVQ=s0-d-e1-ft#http://images.masterbase.com/v1/interseguro/b/dig-Cotizacion_Mailing_Dev_02.jpg" alt="" style="display:block;border:0" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 552px; top: 403px;"><div id=":qvr" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc1MzEzNzM3MzY4ODY0ODgyNiIsbnVsbCxbXV0." data-tooltip-class="a1V" data-tooltip="Descargar"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div><div dir="ltr" style="opacity:0.01"><div id="m_-2507340310143216985:5wb" role="button" aria-label="Descargar el archivo adjunto "><div></div></div></div></td>
                        </tr>
                        <tr>
                          <td style="text-align:center">  
                            <br><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;font-size:40px;font-weight:bold;color:#009fda">¡{asegurado},<br>ya estás cada vez más cerca de proteger lo que más amas</span><br><br><br><span style="font-family:Arial,Helvetica,sans-serif;font-size:24px;color:#4d4d4d">
                Como parte de tu asesoría del día {fechaAtencion} te adjuntamos la cotizacion solicitada:</span><br><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;font-size:24px;color:#4d4d4d">
                            <b> {numeroCotizacion}<br></b> <br> 
                             Ante cualquier duda o consulta, no dudes en comunicarte con tu asesor:</span>
                            <br><br><br>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table cellspacing="15" cellpadding="0" align="center" border="0" width="90%" style="margin:0 auto;border:2px solid #a2d9f8">
                              <tbody><tr>
                                <td style="text-align:center"><span style="color:#009fda;font-family:Arial,Helvetica,sans-serif;font-size:24px">Nombre del agente</span></td>
                              </tr>
                              <tr>
                                <td height="50" style="text-align:center;background:#a2d9f8"><span style="color:#4d4d4d;font-family:Arial,Helvetica,sans-serif;font-size:24px">{agenteNombre}</span></td>
                              </tr>
                              <tr>
                                <td height="10" style="border-bottom:2px solid #a2d9f8"></td>
                              </tr>
                              <tr>
                                <td style="text-align:center"><span style="color:#009fda;font-family:Arial,Helvetica,sans-serif;font-size:24px">Correo electrónico</span></td>
                              </tr>
                              <tr>
                                <td height="50" style="text-align:center;background:#bdf0ad"><span style="color:#4d4d4d;font-family:Arial,Helvetica,sans-serif;font-size:24px"><a href="{agenteCorreo}" target="_blank">{agenteCorreo}</a></span></td>
                              </tr>
                              <tr>
                                <td></td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                           <tr>
                      <td height="30"></td>
                     </tr>
                      
                       <tr>
      <td>
  <span><font color="#888888">
                              </font></span><span><font color="#888888">
                            </font></span><table cellspacing="0" cellpadding="0" align="center" border="0" width="600">
                              <tbody><tr>
                                <td><a href="https://www.facebook.com/interseguro/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/interseguro/&amp;source=gmail&amp;ust=1687381649218000&amp;usg=AOvVaw29svB_Q-gzUBGH24MHUgtb"><img src="https://ci6.googleusercontent.com/proxy/IlLOH-qv4P2eAwImdIE0LVSBKYbhchqHOUvoLOHE1pC86CRuR4kWwWuqcFoSoep-iNdcr9U42_h3KlfeNgcuq7sb1UOGkmHnLGYL4X1G5ce0QLQ=s0-d-e1-ft#http://images.masterbase.com/v1/interseguro/b/Mailing-RPP_36.jpg" alt="" style="display:block;border:0" class="CToWUd" data-bit="iit"></a></td>
                                <td><a href="https://www.interseguro.com.pe/blog/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.interseguro.com.pe/blog/&amp;source=gmail&amp;ust=1687381649218000&amp;usg=AOvVaw0Dk9X-yq7LYL3X_Gu_kotP"><img src="https://ci3.googleusercontent.com/proxy/20BwA_-4XVipbrXWZaLzx5ZuR0t7h_OwhZD48ZlfBEendabOzcaiMYgYwdxlH2MS4dyPpG0d8qJmUASBYskoHAlqPrUSlTKDGBNTnrQfcnni400=s0-d-e1-ft#http://images.masterbase.com/v1/interseguro/b/Mailing-RPP_37.jpg" alt="" style="display:block;border:0" class="CToWUd" data-bit="iit"></a></td>
                                <td><a href="https://www.linkedin.com/company/interseguro-compania-de-seguros/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/interseguro-compania-de-seguros/&amp;source=gmail&amp;ust=1687381649218000&amp;usg=AOvVaw2dQLXTvu7ZAXZmgHJATi7Q"><img src="https://ci4.googleusercontent.com/proxy/yNCqju7gY9H0-e2pWXc-z_ZwsjkB2FID4BQXDCxcYvYGR5qPXZekN9uMT0ZWaw-FxHctoGdJ6OTPexnpkQSN4ZRsZ1epFc88FnfOZY6wcIWWF9g=s0-d-e1-ft#http://images.masterbase.com/v1/interseguro/b/Mailing-RPP_38.jpg" alt="" style="display:block;border:0" class="CToWUd" data-bit="iit"></a></td></tr></tbody></table><span><font color="#888888">
      </font></span></td></tr></tbody></table><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">
</div></div></div>